.march-list-content {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    // background: #f0f0f0;

    background: #f0f0f0;

    .league-content {
        height: 260px;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        background: white;
        padding: 16px;
        border-radius: 18px;

        .league-top {
            flex: 0.5;
            display: flex;
        }


        .league-score-part {
            flex: 0.8;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .time-more {
                color: red;
                font-weight: bold;
            }

            .away-team-context {
                position: absolute;
                right: 12px;

            }
        }

        .middle-content {
            flex: 3;
            display: flex;
            align-items: center;
            justify-content: center;

            .away-team {
                display: flex;
                align-items: center;
            }

            .score {
                font-size: 30px;
                font-weight: bold;
            }
        }

        .bottom-score {
            flex: 0.6;
            display: flex;
            align-items: center;
            justify-content: center;

            .bottom-score-item {
                display: flex;
            }
        }
    }
}