body {
    position: relative;
}

// 弹幕

.image-header-text {
    position: absolute;
    left: 0;
    top: 70px;
    height: 87;
    color: #ffffff;
    padding-left: 12px;

    .tag {
        display: block;
        margin-bottom: 12px;
    }

}